on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 0

on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e>
    write /sys/class/udc/musb-hdrc/device/cmode 2
    # set charging free due to it wait for USB ac>
    start adbd

on post-fs
    # Support A/B feature for emmc boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/boot0
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/by-name/boot0
    symlink /dev/block/mmcblk0boot1 /dev/block/by-name/boot1

# ==== Tambahan untuk TWRP ====
service recovery /sbin/twrp
    seclabel u:r:recovery:s0
    class main
    console
    oneshot
